body
{
	margin : 0px;
	padding : 0px;
	background : #dddddd;
	font-family : sans-serif;
}

#header_wrapper
{
	position : relative;
	width : 100%;
	height : 51px;
	background : #595959;
	border : 1px solid gray;
}

#header
{
	position : relative;
	width : 1000px;
	height : 50px;
	background : #595959;
	margin : 0 auto;
}

#title
{
	position : absolute;
	left : 0px;
	top : 0px;
	height : 45px;/* total height = 45 + 5 = 50px */
	width : 195px;/* total width =195+5=200 */
	color : #eaeaea;
	font-size : 2em;
	padding-top : 5px;
	font-weight : bold;
	padding-left : 5px;
}

#actions
{
	position : absolute;
	right : 0px;
	width : 800px;
	height : 50px;
	top : 0px;
}

#actions > #welcome
{
	position : absolute;
	left : 400px;
	min-width : 75px;
	max-width : 100px;
	height : 40px;/*50px*/
	top : 0px;
	color : #79aff7;
	font-size : 0.8em;
	text-align : center;
	padding-top : 10px;
}

#actions > #btns
{
	position : absolute;
	left : 500px;
	width : 300px;
	height : 50px;
}

#btns > ul
{
	list-style : none;
	width : 300px;
	margin : 0px;
	padding : 0px;
	height : 40px;
	padding-top : 5px;
}

#btns > ul > a
{
	text-decoration : none;
	color : white;
}

#btns > ul > a > li
{
	width : 90px;
	height : 32px;
	text-align : center;
	font-size : 1.2em;
	padding-top : 8px;
	float : left;
	border-left : 5px solid white;
	margin-right : 5px;
	transition : 0.5s all ease-in-out;
	background: linear-gradient(to right, white 50%, #595959 50%);
	background-size: 200% 100%;
	background-position: right bottom;

}

#btns > ul > a > li:hover
{
	background-position : left bottom;
	color : black;
}

#content
{
	position : relative;
	width : 800px;
	min-height : 400px;
	margin : 0 auto;
	background : green;
}

#c_head
{
	position : relative;
	width : 800px;
	height : 30px;/*35px*/
	top : 5px;
	background : red;
}